In [8]:
produitsDict = {
    'smartphone':{'prix':1000,'enStock':True},
    'chaussures':{'prix':100,'enStock':False},
    'console':{'prix':400,'enStock':True}
}

In [9]:
print(produitsDict)

{'smartphone': {'prix': 1000, 'enStock': True}, 'chaussures': {'prix': 100, 'enStock': False}, 'console': {'prix': 400, 'enStock': True}}

In [10]:
import pandas as pd
df = pd.DataFrame(produitsDict)
df

        smartphone chaussures console
prix          1000        100     400
enStock       True      False    True

In [11]:
pays = [
    [70, 55, 85],                          #Population en millions
    [0.901, 0.922, 0.936],                 #IDH
    [2091,2077,3045]                       #PIB
]
df = pd.DataFrame(pays, columns=['France','Angleterre','Allemagne'])
df

     France  Angleterre  Allemagne
0    70.000      55.000     85.000
1     0.901       0.922      0.936
2  2091.000    2077.000   3045.000